* {
    margin: 0;
    padding: 0;

    & body {
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;

        & header {
            padding: 20px;
            text-align: center;

            & h1 {
                margin: 0 0 10px 0;
            }

            & p {
                margin: 0;
            }
        }

        & main {
            margin: 0 auto;
            padding: 20px;
            display: grid;
            gap: 30px;
            width: 100%;

            & section {
                padding: 25px;
                border-radius: 5px;

                & h2 {
                    margin: 0 0 20px 0;
                    border-bottom: 2px;
                    padding-bottom: 10px;
                }

                & table {
                    width: 100%;
                    border-collapse: collapse;

                    & thead tr th {
                        padding: 12px;
                        text-align: left;
                        border: 1px;
                    }

                    & tbody tr td {
                        padding: 12px;
                        border: 1px;
                    }

                    & tbody tr td a {
                        text-decoration: none;
                    }

                    & tbody tr td a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        & footer {
            text-align: center;
            padding: 20px;

            & p {
                margin: 0;
            }

            & p a {
                text-decoration: none;
            }

            & p a:hover {
                text-decoration: underline;
            }
        }
    }

}